@import "@fontsource/readex-pro";
@import "@fontsource/urbanist/500";
@import "@fontsource/urbanist/700";
@import "@fontsource/urbanist/900";

* {
  font-family: "Urbanist", sans-serif;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}

.section-title {
  font-size: var(--fs-xl);

  font-weight: 700;
  color: var(--color-accent-light);
}

img {
  color: black;
}
