@import "@fontsource/readex-pro";

* {
  font-family: "Readex Pro", sans-serif;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}
