.footer {
  padding-inline: var(--prem);
  padding-block: calc(var(--prem) * 1);
  background-color: var(--color-bg-light);
  margin-top: auto;
  border-top: var(--border);
  div {
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    gap: calc(var(--prem) / 2);
    flex-direction: column;
    text-align: center;
  }
  img {
    height: var(--fs-s);
  }
}

.disclaimer {
  color: var(--color-text-transparent);
  font-size: var(--fs-s);
}
