.movie-card {
  opacity: 0;
  animation: fade-in var(--time-slowest) ease-in-out forwards;

  transition: var(--time-fast);
  scroll-snap-align: start;
  // text-align: center;
  overflow: hidden;
  border-radius: var(--border-radius);
  position: relative;
  border: 1px solid black;

  &::after {
    transition: var(--time-slow);
    content: "";
    position: absolute;
    inset: 0;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover::after {
    box-shadow: inset 0 0 2rem rgba(0 0 0 / 0.75);
  }
  &:hover img {
    transform: scale(1.05);
  }
  &__content {
    background-color: var(--color-bg-dark);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.img-container {
  overflow: hidden;
  flex-grow: 1;

  img {
    transition: var(--time-slow) ease-in-out;
    min-height: 100%;
    object-fit: cover;
  }
}

.info-container {
  padding: var(--prem);
  display: flex;
  flex-direction: column;
  gap: calc(var(--prem) / 1.5);
  // align-items: center;
  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
    font-weight: 400;
    font-size: var(--frem);
    height: calc((2em * 1.4));
  }
  &__stars {
    display: flex;
    align-items: center;
    font-size: var(--frem);
    svg {
      fill: #ffbb00;
    }
    span {
      color: var(--color-text-transparent);
      line-height: 1;
      margin-left: 0.5em;
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
