.movie-list-section {
  display: flex;
  flex-direction: column;
  gap: var(--prem);
  animation: fade-in var(--time-slowest) ease-in-out forwards;
}

.movie-list-controls {
  position: relative;
}

.scroll-btn {
  background-color: rgba(0 0 0 / 0.6);

  border: var(--border);
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: calc(var(--prem) * 2);
  padding: 0.5em;
  z-index: 2;
  transition: var(--time-medium);
  box-shadow: inset 0 0 1em hsla(200, 80%, 50%, 0.2);

  &.disabled {
    border: none;
    opacity: 0.5;
    background-color: rgba(0 0 0 / 00);
    box-shadow: 0 0 0;
  }
  &:hover {
    background-color: rgba(0 0 0 / 0.8);
    box-shadow: inset 0 0 1em hsla(200, 100%, 60%, 0.4);
  }
  &:active {
    background-color: rgba(0 0 0 / 1);
    box-shadow: inset 0 0 1em hsla(200, 100%, 60%, 0.75);
  }
  &__left {
    left: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  &__right {
    right: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

.movie-list {
  --columns: 6;
  @media screen and (max-width: 1200px) {
    --columns: 4;
  }
  @media screen and (max-width: 900px) {
    --columns: 3;
  }
  @media screen and (max-width: 600px) {
    --columns: 2;
  }
  --gap: var(--prem);

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / var(--columns) - var(--gap) + (var(--gap) / var(--columns)));
  gap: var(--gap);

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-radius: var(--border-radius);

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
