@use "./sass-partials";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
}

#root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding-inline: var(--prem);
  padding-block: calc(var(--prem) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--prem) * 2);
  section {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
  }
}
