@use "./sass-partials";

body {
  background-color: var(--color-bg);
}

#root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding: var(--prem);
  section {
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

.movie-card {
  border: var(--border);
}
