@use "./sass-partials";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  background-image: linear-gradient(
      45deg,
      rgba(0 0 0 / 0) 48%,
      rgba(0 0 0 / 0.25) 48%,
      rgba(0 0 0 / 0.25) 52%,
      rgba(0 0 0 / 0) 52%
    ),
    radial-gradient(rgba(0, 159, 184, 0.1) 10%, rgba(0 0 0 / 0) 10%);
  background-size: 128px 128px;
  backdrop-filter: blur(16px);
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding-inline: var(--prem);
  padding-block: calc(var(--prem) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--prem) * 2);
  section {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
  }
}
